body {
  width: 1920px;
  height: 1080px;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  width: 1920px;
  height: 1080px;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  background-color: #F06292;
  background-size: 1920px 1080px;
}

#text-container {
  width: 1200px;
  color: #ffffff;
  padding-top: 50px;
  margin-left: 110px;
}

#project-title {
  font: 800 60px 'arial';
  line-height: 70px;
}

#project-main-text {
  font: 500 28px 'arial';
  line-height: 48px;
  margin-top: 20px;
}

ul {
  list-style-image: url("../image/bullet.png");
}

li {
  padding-left: 20px;
}

.nobull {
  list-style: none;
  list-style-type: none;
  display: inline-block;
}

.try-it-bullet {
  margin-left: -65px;
  position: absolute;
  font-size: 18px;
  font-family: 'arial';
  color: #FBB03B;
  -ms-transform: rotate(-20deg); /* IE 9 */
  -webkit-transform: rotate(-20deg); /* Safari */
  transform: rotate(-20deg);
}

.shake-it {
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both infinite;
}

@keyframes shake {
  10%, 90%      { transform: rotate(-20deg) }
  20%, 80%      { transform: rotate(20deg) }
  30%, 50%, 70% { transform: rotate(-20deg) }
  40%, 60%      { transform: rotate(20deg) }
}

.blink {
  -webkit-animation: blink 2.0s linear infinite;
}
@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  10% { opacity: 0.3; }
  40% { opacity: 1.0; }
  100% { opacity: 1.0; }
/*    from { background-color: red;}
  to {background-color: green;}  */
}

#mobile {
  width: 131px;
  height: 261px;
  background: url("../image/mobile.png") center no-repeat;
  margin: 100px 0 0 250px;
  text-align: center;
  color: #ffffff;
  font: 800 18px 'arial';
}

#mobile-detection {
  margin-top: 100px;
}

.smaller-text {
  font-size: 13px;
  line-height: 10px;
}

#mobile-caption {
  margin-top: 120px;
}

#camera-container {
  position: absolute;
  top: 5px;
  left: 1100px;
}

#camera-container > div, img {
  position: absolute;
}

#camera-view-bg {
  z-index:-1;
  width: 878px;
  height: 658px;
  background-image: url("../image/shadow.png");
}

#camera-view {
  width: 640px;
  height: 480px;
  left: 90px;
  top: 65px;
  background-image: url("../image/image.png");
  outline: 5px solid #FBB03B;
}

#camera-view-caption {
  width: 878px;
  top: 560px;
  left: -15px;
}

.image-caption {
  color: #8FC2F2;
  font: 800 15px 'arial';
  text-align: center;
}

#canvas-container canvas {
  z-index: 10;
  position: absolute;
  left: 90px;
  top: 65px;
}

#fps {
  font-weight: 800;
}

.btn_click {
    width: 420px;
    height: 80px;
    margin-top: 6px;
    border: none;
    background: #ffffff;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
